@media all {
    *, ::after, ::before {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font: inherit;
    }

    .age-confirm__head {
        text-align: center;
        order: 1;
    }

}

@media (min-width: 720px) {

.age-confirm__head {

display: flex;

justify-content: center;

background-image: -webkit-image-set(
    url("./alc_img/champagne2.png") 1x, 
    url("./alc_img/champagne21.png") 2x, 
    url("./alc_img/champagne22.png") 3x
);

background-repeat: no-repeat;

background-position: center bottom;

background-size: 161px 386px;

order: 2;

align-items: flex-start;

flex: 0 0 calc(37.4625% - 15px);

max-width: calc(37.4625% - 15px);

width: calc(37.4625% - 15px);

flex-basis: calc(37.4625% - 15px);

}

.age-confirm__head:nth-child(n) {

margin-right: 24px;

margin-left: 0px;

}

.age-confirm__head:last-child {

margin-right: 0px;

}

.age-confirm__head:nth-child(8n) {

margin-right: 0px;

margin-left: auto;

}

}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 720px), (min-resolution: 192dpi) and (min-width: 720px) {

.age-confirm__head {

background-image: url("./alc_img/champagne21.png");

}

}

@media (-webkit-min-device-pixel-ratio: 3) and (min-width: 720px), (min-resolution: 288dpi) and (min-width: 720px) {

.age-confirm__head {

background-image: url("./alc_img/champagne22.png");

}

}

@media (min-width: 1280px) and (min-width: 720px) {

.age-confirm__head {

width: calc(37.4625% - 15px);

max-width: calc(37.4625% - 15px);

flex-basis: calc(37.4625% - 15px);

}

.age-confirm__head:nth-child(n) {

margin-right: 24px;

}

}

@media all {

*, ::after, ::before {

margin: 0px;

padding: 0px;

box-sizing: border-box;

font: inherit;

}

a, button {

background-color: transparent;

transition: color 0.2s ease 0s;

}

button, input, optgroup, select, textarea {

margin: 0px;

font-family: inherit;

font-size: 100%;

line-height: 1.15;

}

button, input {

overflow: visible;

}

button, select {

text-transform: none;

}

[type="button"], [type="reset"], [type="submit"], button {

appearance: button;

}

.ui-button {

position: relative;

user-select: none;

padding: 0px 20px;

display: inline-flex;

justify-content: center;

align-items: center;

box-sizing: border-box;

min-width: 112px;

font-family: Futura, Helvetica, Arial, sans-serif;

font-size: 0px;

font-weight: 500;

text-align: center;

white-space: nowrap;

text-decoration: none;

text-transform: uppercase;

border-radius: 4px;

cursor: pointer;

border: none;

outline: none;

transition: all 0.2s ease 0s;

}

.ui-button::before {

content: "";

position: absolute;

z-index: 0;

inset: -6px;

border: 3px solid rgb(45, 163, 255);

opacity: 0;

box-shadow: rgb(45, 163, 255) 0px 0px 4px 0px, rgb(45, 163, 255) 0px 0px 1px inset;

transition: all 0.2s ease 0s;

transform: scale(0.9);

}

.ui-button_text-size_xs {

font-size: 12px;

}

.ui-button_size_m {

height: 40px;

}

.ui-button_theme_primary {

color: rgb(255, 255, 255);

background-color: rgb(19, 21, 26);

}

.ui-button_theme_primary:hover {

color: rgb(255, 255, 255);

}

.ui-button_stretched {

width: 100%;

}

}

@media (min-width: 720px) {

    .ui-button_tablet-size_l {
        height: 48px;
    }

}

@media (min-width: 1024px) {

    .ui-button_theme_primary:hover {
        color: rgb(245, 245, 245);
        background-color: rgb(160, 40, 66);
    }

    .ui-button_theme_primary:active {
        background-color: rgb(150, 45, 66);
        outline: none;
    }

}

.age-confirm {
    position: fixed;
    top: -1000%;
    left: -1000%;
    z-index: 99999;
    padding: 16px;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    align-items: center;
    overflow-y: auto;
    display: flex;
}

.age-confirm_show {
    inset: 0px;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}