.footer{
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 90px;
    line-height: 60px;
    background-color: rgba(18, 0, 36, 0.6);
    color: #e9ecef;
    text-shadow: #000000 1px 1px;
}