/*Use Bootstrap-4.3.1*/

html{
	min-height: 100%;
	position: relative;
}

/*очистка обтекания (clearfix)*/
div.clear{clear: both;}

div.container.align-items-center{
	height: 100%;
}

.container.container_login{
	margin-top: 8em;
	margin-bottom: 16em;
}

.row{
	height: 100%;
}

div.form_components{
	text-align: center;
	height: 100%;
}

.h3{
	background-color: rgba(18, 0, 36, 0.44);
	border-radius: 3px;
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
}

p{
	background-color: rgba(18, 0, 36, 0.22);
	color: #e9ecef;
	text-shadow: #000000 1px 1px;

}

.btn .btn_log_login{
	background-color: rgba(18, 0, 36, 0.88);
}

#errorBlock{
	visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

@media (max-width: 450px){

}

@media (max-width: 1200px){

}
