/*Use Bootstrap-4.3.1*/

html{
	min-height: 100vh;
	position: relative;
}

body {
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	background-attachment: fixed;
	font: 16px/24px Arial, Tahoma, sans-serif;
}

.navbar{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
}

.logo__part{
	margin-left: 5.5vh;
	margin-right: 5.5vh;
}

.logo_header{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 6vh;
	height: 6vh;
}

.title__blog{
	color: whitesmoke;
	height: 4vh;
	vertical-align: middle;
}

.dropdown-menu{
	background-color: rgba(18, 0, 36, 0.89);
}

.dropdown-item{
	color: whitesmoke;
}

/*очистка обтекания (clearfix)*/
div.clear{clear: both;}

.main_content{
	background-color: rgba(18, 0, 36, 0.6);
	width: 70%;
	min-height: 90vh;
	margin-left: auto;
	margin-right: auto;
}

.news_labels{
	//background-color: rgba(255, 255, 255, 0.33);
	border-radius: 3px;
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
	text-align: center;
	margin-top: 0.3em;
}

.post__text{
	background-color: rgba(255, 255, 255, 0.21);
	border-radius: 8px;
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
	text-align: center;
	margin-top: 0.3em;
	width: 100%;
}

.side_user_panel{
	margin-top: 1%;
	margin-bottom: 2%;
	width: 150px;
	height: 150px;
}

.white-form-name{
	color: #ffffff;
	margin: 0;
}

.form-control.list{
	margin-top: 1%;
	margin-bottom: 2%;
}

.check_session{
	color: red;
}

.alert.alert-danger{
	display: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


@media (max-width: 450px){

}

@media (max-width: 1200px){

}
