.navbar{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
	align-items: center;
	height: 75px;
}

.navbar-toggler{
	color: whitesmoke;
	background-color: rgba(255, 255, 255, 0.1);
	width: 50px;
	height: 50px;
	font-size: 1rem;
	line-height: 1rem;
}

.navbar-toggler-icon{
	width: 25px;
	height: 25px;
}

.navbar-toggler-icon img{
	width: 25px;
	height: 25px;
}

.navbar .logo__part{
	width: 300px;
	height: 75px;
}

.navbar .logo__part .navbar-brand{
	margin-top: 0px;
}

.logo_header{
	display: inline-flex;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 115px;
	height: 60px;
}

.title__blog{
	display: inline-flex;
	color: whitesmoke;
	height: 3.25vh;
	vertical-align: middle;
}

nav .show{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
	align-items: center;
}

nav .collapse .navbar-nav{
	margin: 0px!important;
	width: 1300px;
	padding: 0px 0px 0px 100px;
}

.dropdown-item{
	color: whitesmoke;
}

.navbar-nav>.nav-item{
	padding-right: 4.5%;
	padding-left: 4.5%;

}

.nav-link:hover{
	color: black;
	background-color: #FFFFFF44;
	border: 1px black;
	border-radius: .25rem;
}

.loggg{
	position: absolute;
	margin-top: 10.5%;
	margin-bottom: 1.5%;
	left: 15%;
}

.reggg{
	position: absolute;
	margin-top: 10.5%;
	margin-bottom: 1.5%;
	right: 20%;
}


@media (max-width: 450px){
	.loggg{
		position: absolute;
		padding-top: 0px!important;
		margin-top: -5%;
		left: 15%;
	}

	.reggg{
		position: absolute;
		padding-top: 0px!important;
		margin-top: -5%;
		right: 20%;
	}

	.navbar .logo__part .navbar-brand .title__blog{
		display: none;
	}

	.navbar-nav .reggg .Reg_button:hover{
		color: black;
		background-color: #FFFFFF44;
		border: 1px black;
		border-radius: .25rem;
	}

	.navbar-nav{
		flex-direction: unset;
		width: 14em;
		height: 5em;
	}

	.dropdown{
		z-index: 2;
	}

	.navbar-toggler-icon{
		position: absolute;
		left: 265px;
		top: 20px;
	}

	.navbar .logo__part {
		width: 115px;
		height: 65px;
		margin-top: -5px;
	}

	nav .show {
		background-color: rgba(0, 0, 0, 1);
		text-align: center;
		align-items: center;
		display: flex;
		position: absolute;
		top: 75px;
		height: 150px;
		width: 23rem;
		z-index: 2;
	}

	nav .collapse .navbar-nav{
		margin: 0px!important;
		width: 360px;
		padding: 0px 0px 0px 0px;
	}

	.navbar-nav>.nav-item {
		padding-top: 2em;
		padding-right: 4.5%;
		padding-left: 4.5%;
	}

	.navbar-nav>.nav-item .show:nth-child(4n){
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		position: absolute;
		width: 208px;
	}
}
