.navbar{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
	align-items: center;
	height: 75px;
}

.navbar-toggler{
	color: whitesmoke;
	background-color: rgba(255, 255, 255, 0.1);
	width: 50px;
	height: 50px;
	font-size: 1rem;
	line-height: 1rem;
}

.navbar-toggler-icon{
	width: 25px;
	height: 25px;
}

.navbar-toggler-icon img{
	width: 25px;
	height: 25px;
}

.navbar .logo__part{
	width: 200px;
	height: 68px;
	margin-left: 35px;
}

.navbar .logo__part .navbar-brand{
	margin-top: 0px;
}

.logo_header{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 43px;
	height: 43px;
}

.title__blog{
	color: whitesmoke;
	height: 4vh;
	vertical-align: middle;
}

nav .show{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
	align-items: center;
}

nav .collapse .navbar-nav{
	margin: 0px!important;
	width: 1300px;
	padding: 0px 0px 0px 0px;
}

.dropdown-item{
	color: whitesmoke;
}

.navbar-nav>.nav-item{
	padding-right: 4.5%;
	padding-left: 4.5%;

}



@media (max-width: 450px){
	.loggg{
		position: absolute;
		margin-top: 10.5%;
		margin-bottom: 1.5%;
		left: 15%;
	}

	.reggg{
		position: absolute;
		margin-top: 10.5%;
		margin-bottom: 1.5%;
		right: 20%;
	}

	.navbar-nav{
		flex-direction: unset;
		width: 14em;
		height: 5em;
	}

	.dropdown{
		z-index: 10;
	}

	.navbar-toggler-icon{
		position: fixed;
		left: 200px;
		top: 11px;
	}

	.navbar .logo__part {
		width: 250px;
		height: 65px;
	}
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		position: absolute;
		width: 223px;
	}
}
