.navbar{
    background-color: rgba(18, 0, 36, 0.6);
    text-align: center;
}

.navbar-toggler {
    color: whitesmoke;
    border-color: whitesmoke;
    background-color: #6A5ACD;
}

.navbar-toggler-icon{
    color: whitesmoke;
    /*background-image: url("/images/hamburger.svg");*/
    height: 3vh;
    width: 3vh;
}


@media (max-width: 450px){
    .loggg{
        position: absolute;
        margin-top: 10.5%;
        margin-bottom: 1.5%;
        left: 15%;
    }

    .reggg{
        position: absolute;
        margin-top: 10.5%;
        margin-bottom: 1.5%;
        right: 20%;
    }

    .navbar-nav{
        flex-direction: unset;
        width: 14em;
        height: 5em;
    }

    .dropdown{
        z-index: 10;
    }
}

.navbar-nav>.nav-item{
    margin-right: 3%;
    margin-left: 3%;

}