.container.reg_form_container{
	text-align: center;
	vertical-align: middle;
}

.form-control{
	width: 100%;
}

.row{
	text-align: center;
}

label{
	margin-top: 5px;
	border-radius: 3px;
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
	font-size: 17px;
	background-color: rgba(18, 0, 36, 0.44);
	width: 12em;
}

.col-sm.reg_form_content form{
	width: 365px;
}

.container.reg_form_container{
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgba(18, 0, 36, 0.6);
	width: 70%;
	min-height: calc(100vh - 75px);
	margin-left: auto;
	margin-right: auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
