.navbtn{
	display: inline-block;
	position: static;
	color: #838a92;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
	text-decoration: none;
}

.pic_a_navbtn{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 10px;
	vertical-align: middle;
}

.picnavbtn{
	display: flex;
	max-width: 28px;
	max-height: 28px;
	text-align: center;
	vertical-align: middle;
}

.navbtn:hover{
	color: #548eaa;
}

.login{
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	text-decoration: none;
	position: static;
	line-height: 2.5;
	font-size: 13px;
	height: 35px;
	color: #838a92;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 13px;
	border: 1px solid #a4afba;
	border-radius: 3px;
}

.login:hover{
	color: #548eaa;
	border-color: #548eaa;
}

.registration{
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	position: static;
	text-decoration: none;
	line-height: 2.5;
	font-size: 13px;	
	height: 35px;
	color: #838a92;
	padding: 0 13px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	border-color: #6f9cbc;
	background-color: #65a3be;
	color: #fff;
}

.registration:hover{
	background-color: #548eaa;
}

.upper_droplist{
	font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
	font-size: 20px;
	margin-left: 80px;
	margin-top: 30px;
	left: 0;
	top: 0;
	width: 130px;
	height: 55px;
	line-height: 2.5;
	color: #838a92;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	float: left;
}

.upper_droplist:hover{
	color: #548eaa;
}

.upper_droplist_span{
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	width: 130px;
	height: 55px;
}

.droplist_unactive{
	display: inline-block;
	vertical-align: middle;
	color: #548eaa;
}

.nav_preMain{
	display: inline-block;
	position: absolute;
	text-align: left;
	font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 20px;
	top: 110px;
	left: 79px;
	width: 690px;
	height: 38px;
	color: #838a92;
	border-bottom: 1px solid #d5dddf;
}

.preMain_hot{
	margin-left:10px;
	left: 0;
	display: inline-block;
}

.preMain_etc{
	display: inline-block;
	word-spacing: -3px;
	margin-left: 25px;

}
