.posmotrim {
	position: fixed;
	top: 50vh;
	right: 0px;
	z-index: 10;
	margin-top: -100px;
}
.posmotrim .posmotrim-button {
    display: block;
    font-size: 32px;
    width: 44px;
    height: 44px;
    color: white;
    text-align: center;
    line-height: 44px;
    margin-left: auto;
    transition: all 0.3s;
}
.posmotrim .posmotrim-button:hover {
	background: #000;
	width: 70px;
}
.posmotrim .posmotrim-button.posmotrim-instagram {
	background: #FF00DC;
}
.posmotrim .posmotrim-button.posmotrim-vk {
	background: #507299;
}
.posmotrim .posmotrim-button.posmotrim-envelope-o {
	background: #656766;
}