article {
	margin-left: 10%;
	padding: 10px;
	display: inline-block;
}

input.text,textarea {
	width:300px;
	font:12px/12px 'courier new',courier,monospace;
	color:#333;
	padding:3px;
	margin:1px 0;
	border: 1px solid #343a40;
	border-radius: 3.5px;
}

.alert-warning{
	text-align: center;
	background-color: transparent;
	border-color: transparent;
}

#send{
	border-radius: 5px;
	border: 1.75px solid lightseagreen;
	background-color: rgba(18, 0, 36, 0.5);
	color: #D3D3D3;
	width: 115px;
	height: 40px;
	font-family: 'Alegreya Sans', sans-serif;
}

#send:hover{
	border-color: transparent;
	background-color: #a7815a;
	color: #D3D3D3;
}

#message{
	border-radius: 5px;
	color: #D3D3D3;
	background-color: rgba(18, 0, 36, 0.5);
    font-size: 16px;
	font-family: 'Alegreya Sans', sans-serif;
}

.btn-outline-success {
	color: #a7815a;
	border-color: #a7815a;
	left: 5%;
}

.btn-outline-success:hover{
	border-color: transparent;
	background-color: #a7815a;
	color: white;
}


.comment_desk {
	padding-left: 5px;
	width: 100%;
	height: 565px;
}

.message_text{
	color: white;
	border-bottom: 1.75px solid lightseagreen;
	border-left: 1.75px solid lightseagreen;
	background-color: rgba(18, 0, 36, 0.2);
	height: 100%;
}

.message_date{
	width: 15em;
	font-size: 0.55em;
	border-top-width: 0.6px;
	border-top-style: solid;
	border-top-color: lightseagreen;
}

.comment_block_container{
	color: white;
	background-color: rgba(18, 0, 36, 0.7);
	top: 0;
	width: 300px;
	height: 45%;
	overflow: scroll;
	overflow-x: hidden;
	font: 16px/24px Arial, Tahoma, sans-serif;
	border:  1px rgba(18, 0, 36, 0.7);
	border-radius: 5px;
}

.comment{
	width: 96%;
	margin-left: 2%;
}

.form_input_message{
	left: 0;
	width: 100%;
	height: 300px;
	margin-top: 10px;
	display: inline-block;
}

.submit-btn{
	display: inline-block;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media (max-width: 450px){
	.comment_block_container{
		width: 300px;
		left:  7px;
	}
}
