/*Use Bootstrap-4.3.1*/
html,body{
	min-height: 100%;
	position: relative;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #7f5a83;
	background-attachment: fixed;
	background: -webkit-linear-gradient(0deg, rgb(190, 154, 207) 4%, rgb(86, 181, 184) 95%);
	background: -moz-linear-gradient(0deg, rgb(190, 154, 207) 4%, rgb(86, 181, 184) 95%);
	background: linear-gradient(0deg, rgb(190, 154, 207) 4%, rgb(86, 181, 184) 95%);
	font: 16px/24px Arial, Tahoma, sans-serif;
}

/*очистка обтекания (clearfix)*/
div.clear{clear: both;}

.about{
	flex: 1 0 auto;
	margin: 4em 0;
	padding: 1em;
	position: relative;
	background-color: rgba(18, 0, 36, 0.6);
}
.about h1{
	color:#F97300;
	margin: 2em;
}
.about .img-fluid{
	height: 90%;
	width: 100%;
	border-radius: 50%;
	margin-top: 5vh;
}
.about .nick__frame{
	margin-left: 35em;
}
.about span{
	display: block;
	color: #888;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about .desc h3{
	color: #10828C;
	left: 0;
	vertical-align: middle;
}
.about .desc p{
	line-height: 2;
	color: rgba(255, 255, 255, 1);
}

.about .desc h4{
	color: rgba(255, 255, 255, 1);
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.github a:hover {background: #191919; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}
