.footer{
    /*bottom: 0;*/
    /*position: fixed;*/
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    height: 94px;
    line-height: 60px;
    background-color:rgba(18, 0, 36, 0.6);
    color: white;
    text-shadow: #000000 1px 1px;
}

@media (max-width: 450px){
	.footer{
		width:23em;
		height: 10em;
	}
}