.navbar{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
	align-items: center;
	height: 75px;
}

.navbar-toggler{
	color: whitesmoke;
	background-color: rgba(255, 255, 255, 0.1);
	width: 50px;
	height: 50px;
	font-size: 1rem;
	line-height: 1rem;
}

.navbar-toggler-icon{
	width: 25px;
	height: 25px;
}

.navbar-toggler-icon img{
	width: 25px;
	height: 25px;
}

.navbar .logo__part{
	width: 300px;
	height: 45px;
}

.navbar .logo__part .navbar-brand{
	margin-top: 0;
}

.logo_header{
	display: inline-flex;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 115px;
	height: 60px;
}

.title__blog{
	display: inline-flex;
	color: whitesmoke;
	height: 3.25vh;
	vertical-align: middle;
}

nav .show{
	background-color: rgba(18, 0, 36, 0.6);
	text-align: center;
	align-items: center;
}

nav .collapse .navbar-nav{
	margin: 0!important;
	width: 1300px;
	padding: 0 0 0 100px;
}

.dropdown-item{
	color: whitesmoke;
}

.navbar-nav>.nav-item{
	padding-top: 1em;
	margin: 0em 2.5em;

}

.nav-link:hover{
	color: black;
	background-color: #FFFFFF44;
	border: 1px black;
	border-radius: .25rem;
}

.Reg_button{
	color: black;
	background-color: lightblue;
	border-color: black;
}

.Reg_button:hover{
		 color: black;
		 background-color: #FFFFFF44;
		 border: 1px black;
		 border-radius: .25rem;
	 }


@media (max-width: 450px){
	.navbar{
		width: 23em;
	}

	.loggg{
		position: absolute;
		padding-top: 0!important;
		margin-top: -5%;
		left: 15%;
	}

	.reggg{
		position: absolute;
		padding-top: 0!important;
		margin-top: -5%;
		right: 20%;
	}

	.navbar .logo__part .navbar-brand .title__blog{
		display: none;
	}

	.navbar-nav .reggg .Reg_button:hover{
		color: black;
		background-color: #FFFFFF44;
		border: 1px black;
		border-radius: .25rem;
	}

	.navbar-nav{
		flex-direction: unset;
		width: 14em;
		height: 5em;
	}

	.dropdown{
		z-index: 2;
	}

	.navbar-toggler{
		margin-top: 9px;
	}

	.navbar-toggler-icon{
		position: absolute;
		left: 272px;
		top: 29px;
	}

	.navbar .logo__part {
		width: 115px;
		height: 65px;
		margin-top: -5px;
	}

	nav .show {
		background-color: rgba(0, 0, 0, 1);
		text-align: center;
		align-items: center;
		display: flex;
		position: absolute;
		top: 75px;
		height: 150px;
		width: 23rem;
		z-index: 2;
	}

	nav .collapse .navbar-nav{
		margin: 0!important;
		width: 360px;
		padding: 0 0 0 0;
	}

	.navbar-nav>.nav-item {
		padding-top: 2em;
		padding-right: 4.5%;
		padding-left: 4.5%;
	}

	.navbar-nav>.nav-item .show:nth-child(4n){
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		position: absolute;
		width: 208px;
	}
}
