*{
	box-sizing: border-box;
}

html,body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-control{
	width: 100%;
}

.row{
	min-height: calc(100vh - 201px);
	text-align: center;
	flex: 1 0 auto;
}

.markplace{
	width: 100em;
}

.formpart{
	padding: 5px 15px;
}

label{
	width: 30em;
	height: 3em;
	margin-top: 5px;
	padding: 0.6em 1em;
	border-radius: 10px;
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
	font-size: 16px;
	background-color: rgba(18, 0, 36, 0.44);
}

.passLabel{
	padding: 0;
}

input{
	width: 30em!important;
}

.col-sm.reg_form_content form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70em;
}

.container.reg_form_container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgba(18, 0, 36, 0.6);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
