.menu._header{
	position:absolute;
	top:100%;
	left:15px;
	display:none;
	width:100%;
	min-height:60px;
	background-color:#700027;
	transform:translateY(-50%);
	border-radius: 5%;
}

@media (min-width:992px){
	.menu._header{
		display:-ms-flexbox;
		display:flex
	}
}

.menu._header .-list{
	display:-ms-flexbox;
	display:flex;
	width:100%;
}

.menu._header .-list>.item._current:not(:hover){
	padding-bottom:0;
	border-bottom:3px solid #c4c4c4;
}

.menu._header .-item{
	display:-ms-flexbox;
	display:flex;
	padding-bottom:3px;
	font-size:14px;
	color:#fff;
	}

.menu._header .-item._sub{
	position:relative;
}

.menu._header .-item._sub:hover>.-menu._sub{
	pointer-events:auto;opacity:1;
}

.menu._header .-link{
	padding:0 25px;
	-ms-flex-align:center;
	align-items:center;
}

.menu._header .-link,.menu._header .-menu._main{
	display:-ms-flexbox;
	display:flex;
}

.menu._header .-menu._sub{
	position:absolute;
	top:100%;
	left:50%;
	width:100%;
	min-width:200px;
	pointer-events:none;
	opacity:0;
	transform:translate(-50%);
}

.menu._header .-menu._sub .-item{
	font-size:12px;
	color:#000;
	text-transform:uppercase;
	background-color:#fff;
	border-bottom:2px solid #e9eced;
}

.menu._header .-menu._sub .-item:last-child{
	border-bottom:none;
}

.menu._header .-menu._sub .-item:hover{
	color:#fff;
	background-color:#003070
}

.menu._header .-menu._sub .-link{
	width:100%;
	padding:10px 5px;
}

.menu._header .-menu._sub .-menu._sub{
	top:0;
	left:100%;
	transform:none;
}

.menu._header .-search{
	display:-ms-flexbox;
	display:flex;
}

.menu._header .-btn{
	position:relative;
	width:175px;
	height:auto;
	padding-right:10px;
	font-weight:700;
	color:#fff;
	cursor:pointer;
	border:none;
}

@media (min-width:992px){
	.menu._header .-btn{
		display:none;
	}
}

.menu._header .-btn:after{
	position:absolute;
	top:0;
	right:4px;
	display:block;
	width:20px;
	height:100%;
	background-image:url(../images/menu_right.svg);
	background-position:50%;
	background-repeat:no-repeat;
	background-size:contain;
	content:"";
}

.menu._footer{
	margin:10px 0;
}

.menu._footer .-list{
	position:relative;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	padding:20px 0;
	background-color:#e9eced;
	-ms-flex-direction:column;
	flex-direction:column;
	-ms-flex-pack:center;
	justify-content:center;
}
.menu._footer .-list:before{
	position:absolute;
	top:0;
	left:50%;
	z-index:-1;
	width:100vw;
	height:100%;
	background-color:#e9eced;
	content:"";
	transform:translate(-50%);
}

.menu._footer .-item{
	position:relative;
	padding:0 20px;
	margin-bottom:5px;
	font-size:14px;
	color:#003070;
}

@media (min-width:576px){
	.menu._footer .-item{
		margin-bottom:0;
		font-size:11px;
	}
}

.menu._footer .-item:before{
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background-color:#c4c4c4;
	content:"";
}

@media (min-width:576px){
	.menu._footer .-item:first-child:before{
		content:none;
	}
}

.menu._mobile{
	position:fixed;
	z-index:999999;
	top:55px;
	left:-280px;
	width:280px;
	height:calc(100vh - 55px);
	background-color:#f1f4f5;
	transition:left .22s ease-out;
	overflow-y:auto;
}

.menu._mobile.is-active{
	left:0;pointer-events:auto;
	opacity:1;
}

.menu._mobile .-menu._sub .-menu._sub{
	height:0;
	overflow:hidden;
}

.menu._mobile .-list{
	padding:0 15px 55px;
}

.menu._mobile .-item{
	padding:10px 0;
	font-size:16px;
}

.menu._mobile .-item._sub{
	padding-bottom:0;
}

.menu._mobile .-item._sub .-item{
	padding:5px 0 5px 30px;
	font-size:14px;
}

.menu._mobile .-item._sub .-item .-item{
	padding:0;
	font-size:12px;
}

.menu._mobile .-item._sub .-item .-item .-link{
	display:block;
	padding:5px 0 5px 45px;
}

.menu._mobile .-item._sub ._arrow{
	padding-right:20px!important;
	cursor:pointer;
	background-image:url(../images/menu_sub_open.svg);
	background-position:right 15px;
	background-repeat:no-repeat;
	background-size:16px;
}

.menu._mobile .-item._sub ._arrow._opened{
	background-image:url(../images/menu_sub_close.svg);
}

.menu._mobile .-item._sub ._arrow._opened .-menu._sub{
	height:auto;
}

@media (min-width:992px){
	.menu._mobile{
		display:none;
	}
}

.menu._sticky{
	position:relative;
	z-index:1000;
	top:0;
	left:0;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	padding:0 15px;
	min-height:55px;
	background-color:#003070;
	box-shadow:0 3px 20px 0 #606060;
}

.menu._sticky._stuck{
	position:fixed;
}

.menu._sticky .-humburger{
	width:16px;
}

.menu._sticky .-logo{
	display:block;
	max-width:180px;
	margin:0 auto;
	background-image:url(../images/logo_mobile.svg);
	background-position:50%;
	background-repeat:no-repeat;
	background-size:contain;
	-ms-flex-positive:2;
	flex-grow:2;
	transition:max-width .33s ease-out;
}

.menu._sticky .-logo.is-active{
	max-width:0;
}

.menu._sticky .-phone{
	width:24px;
	margin:0 10px;
	background-image:url(../images/info_mobile/call.svg);
	background-repeat:no-repeat;
	background-position:50%;
	background-size:contain;
}

.menu._sticky .-additional{
	display:-ms-flexbox;
	display:flex;
	position:relative;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-positive:0;
	flex-grow:0;
	width:21px;
	cursor:pointer;
}

.menu._sticky .-dots{
	position:relative;
	width:4px;
	height:4px;
	background-color:#f1f4f5;
	border-radius:50%;
}

.menu._sticky .-dots.is-active:before{
	top:0;
	left:-6px;
}

.menu._sticky .-dots.is-active:after{
	top:0;
	left:6px;
}

.menu._sticky .-dots:after,.menu._sticky .-dots:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	background-color:inherit;
	border-radius:inherit;
	transition:.22s ease-out;
}

.menu._sticky .-dots:before{top:6px}

.menu._sticky .-dots:after{top:-6px}

.search{
	position:relative;
	display:-ms-flexbox;
	display:flex;
	height:100%;
	-ms-flex-align:center;
	align-items:center;
}

.search .-input{
	width:100%;
	height:35px;
	padding:10px 40px 10px 10px;
	background-color:#fff;
	border:none;
	border-radius:3px;
}

.search .-sbmt{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:35px;
	height:35px;
	margin:auto;
	cursor:pointer;
	background:hsla(0,0%,100%,0) url(../images/search.svg) 0 no-repeat;
	background-size:17px;
	border:none;
}

.search .-a-list{
	position:absolute;
	top:100%;
	left:50%;
	width:100%;
	margin:auto;
	pointer-events:none;
	background-color:#fff;
	border:1px solid #c4c4c4;
	border-radius:0 0 3px 3px;
	opacity:0;
	transform:translateX(-50%);
	transition:opacity .1s;
}

.search .-a-list._show{
	pointer-events:auto;
	opacity:1;
}

.search .-a-list._search{
	min-height:60px;
	background-image:url(../images/loader.svg);
	background-position:50%;
	background-repeat:no-repeat;
	background-size:40px;
}
.search .-a-list li{
	display:-ms-flexbox;
	display:flex;
	font-size:12px;
}

.search .-a-list li._not,.search .-a-list li a{
	width:100%;
	padding:10px 5px;
}
.search .-a-list li:not(._not):hover{
	background-color:#c4c4c4;
}

.search .-a-list li:not(:last-child){
	border-bottom:1px solid #c4c4c4;
}

.search._mobile{position:relative;
	display:-ms-flexbox;
	display:flex;
	max-width:0;
	height:auto;
	padding:0;
	padding-right:22px;
	-ms-flex-pack:end;
	justify-content:flex-end;
	-ms-flex-align:center;
	align-items:center;
	transition:.33s ease-out;
}

.search._mobile.is-active{
	max-width:100%;
	padding-right:0;
}

.search._mobile.is-active .-input{padding:10px 40px 10px 10px}

.search._mobile.is-active .-loupe{display:none}

.search._mobile:not(.is-active){margin-left:10px}

.search._mobile:not(.is-active) .-reset{display:none}

.search._mobile:not(.is-active) .-a-list{
	pointer-events:none!important;
	opacity:0!important;
}

.search._mobile .-input{
	width:100%;
	height:26px;
	padding:0;
	background-color:#fff;
	border:none;
	transition:.33s ease-out;
}

.search._mobile .-loupe,.search._mobile .-reset{
	position:absolute;
	top:0;
	right:2px;
	bottom:0;
	width:22px;
	height:22px;
	margin:auto;
	padding:0;
	cursor:pointer;
	background-size:contain;
	background-position:50%;
	background-color:unset;
	border:none;
}

.search._mobile .-loupe{background:hsla(0,0%,100%,0) url(../images/search/loupe.svg) no-repeat}

.search._mobile .-reset{background:hsla(0,0%,100%,0) url(../images/search/close.svg) no-repeat}

.search._mobile .-sbmt{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:35px;
	height:22px;
	margin:auto;
	cursor:pointer;
	background:hsla(0,0%,100%,0) url(../images/search.svg) 0 no-repeat;
	background-size:17px;
	border:none;
}

.search._mobile .-a-list{
	position:absolute;
	top:100%;
	left:50%;
	width:100%;
	margin:auto;
	pointer-events:none;
	background-color:#fff;
	border:1px solid #c4c4c4;
	border-radius:0 0 3px 3px;
	opacity:0;
	transform:translateX(-50%);
	transition:opacity .1s;
}

.search._mobile .-a-list._show{
	pointer-events:auto;
	opacity:1;
}

.search._mobile .-a-list._search{
	min-height:60px;
	background-image:url(../images/loader.svg);
	background-position:50%;
	background-repeat:no-repeat;
	background-size:40px;
}

.search._mobile .-a-list li{
	display:-ms-flexbox;
	display:flex;
	font-size:12px;
}

.search._mobile .-a-list li._not,.search._mobile .-a-list li a{
	width:100%;
	padding:10px 5px;
}

.search._mobile .-a-list li:not(._not):hover{
	background-color:#c4c4c4;
}

.search._mobile .-a-list li:not(:last-child){
	border-bottom:1px solid #c4c4c4;
}
