/*Use Bootstrap-4.3.1*/

body {
	background: #efefef url(./images/sky.jpg);
	margin: 0;
	padding: 0;
	height: 100%;
	font: 16px/24px Arial, Tahoma, sans-serif;
}

.navbar{
	background-color: rgba(18, 0, 36, 1);
}

/*очистка обтекания (clearfix)*/
div.clear{clear: both;}

.main_content{
	background-color: rgba(18, 0, 36, 0.82);
	width: 70%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.news_labels{
	background-color: rgba(255, 255, 255, 0.21);
	border-radius: 3px;
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
	text-align: center;
	margin-top: 0.3em;
}

.form-control.list{
	margin-top: 1%;
	margin-bottom: 2%;
}

.footer{
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: rgba(18, 0, 36, 1);
	color: #e9ecef;
	text-shadow: #000000 1px 1px;
}

.alert.alert-danger{
	display: none;
}


@media (max-width: 450px){
	.loggg{
		position: absolute;
		margin-top: 10.5%;
		margin-bottom: 1.5%;
		left: 15%;
	}

	.reggg{
		position: absolute;
		margin-top: 10.5%;
		margin-bottom: 1.5%;
		right: 20%;
	}

	.navbar-nav{
		flex-direction: unset;
		width: 14em;
		height: 5em;
	}

	.dropdown{
		z-index: 10;
	}

	.footer{
		position: relative;
	}
}

.navbar-nav>.nav-item{
	margin-right: 3%;
	margin-left: 3%;
}

@media (max-width: 1200px){
	.Log_button{

	}
	.Reg_button{

	}
}
